# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# hmmm
src/generated/resources/.cache
/src/main/resources/assets/forgedandfound/models/item/e/
/src/main/resources/assets/forgedandfound/textures/item/e/
/src/main/resources/assets/forgedandfound/textures/mob_effect/e/
/src/main/resources/assets/forgedandfound/lang/e/
/src/main/java/net/aurora/e/*
